
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Vaccine Records</h5>
        </div>
        <div class="card-body">
            <h3 class="text-center mb-30 text-muted">NIK Not Found</h3>
        </div>
    </div>
</div>
